<% include layout %>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <p class="card-text">Please log in to continue.</p>
        <a href="/user/login" class="btn btn-primary">Login with Google</a>
    </div>
</div>
