/* Light mode styles */
body {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar {
    background-color: #343a40;
    color: #f8f9fa;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-mode .navbar {
    background-color: #212529;
    color: #f8f9fa;
}

body.dark-mode .card {
    background-color: #495057;
    border: 1px solid #6c757d;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
